h1{text-align: center}
h1{background-color: pink; border: 1px solid #000000}
h4{background-color: pink; border-left: 6px solid}
h4{border: 1px solid}
ul{background: #D1B7A1; padding: 20px;}
ul{border: 1px solid }